.payment-details ol,
.payment-details ul {
  list-style: none;
  padding-left: 0;
}

.payment-details #content {
  background-color: #fff;
  margin-bottom: 140px;
  padding: 0 20px;
}
.payment-details form {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background-color: #f9f9f7;
  border: 1px solid #fff;
  margin: 0 auto;
  padding: 13px 20px;
  width: 329px;
  z-index: 1;
}
.payment-details form h2 {
  color: #555;
  font-family: "ff-dagny-web-pro", "Helvetica Neue", Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
}
.payment-details form li {
  margin: 8px 0;
}
.payment-details form li .help {
  color: #aaa;
  display: block;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  padding-top: 14px;
}
.payment-details form li .help a {
  color: #76a1cd;
}
.payment-details form label {
  color: #555;
  display: block;
  font-size: 14px;
  font-weight: 400;
}
.payment-details form input {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  color: #333;
  display: block;
  font-size: 18px;
  height: 32px;
  padding: 0 5px 0 55px !important;
  width: 225px !important;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.payment-details form input::-webkit-input-placeholder {
  color: #ddd;
}
.payment-details form input:-moz-placeholder {
  color: #ddd;
  opacity: 1;
}
.payment-details form input::-moz-placeholder {
  color: #ddd;
  opacity: 1;
}
.payment-details form input:-ms-input-placeholder {
  color: #ddd;
}
.payment-details form input:focus {
  outline: 1px solid #3388dd;
}
.payment-details .row button {
  padding: 0;
  width: 329px;
  margin-top: 15px;
}

.payment-details .row button,
.payment-details .row button i {
  font-size: 25px !important;
}



.payment-details form #cc-number {
  background-image: url(../../assets/images/theme_images/creditcardimages.png), url(../../assets/images/theme_images/creditcardimages.png);
  background-position: 2px -121px, 260px -61px;
  background-size: 120px 361px, 120px 361px;
  background-repeat: no-repeat;
  padding-left: 54px;
  width: 225px;
}
.payment-details form #cc-number.visa {
  background-position: 2px -163px, 260px -61px;
}
.payment-details form #cc-number.visa_electron {
  background-position: 2px -205px, 260px -61px;
}
.payment-details form #cc-number.mastercard {
  background-position: 2px -247px, 260px -61px;
}
.payment-details form #cc-number.maestro {
  background-position: 2px -289px, 260px -61px;
}
.payment-details form #cc-number.discover {
  background-position: 2px -331px, 260px -61px;
}
.payment-details form #cc-number.valid.visa {
  background-position: 2px -163px, 260px -87px;
}
.payment-details form #cc-number.valid.visa_electron {
  background-position: 2px -205px, 260px -87px;
}
.payment-details form #cc-number.valid.mastercard {
  background-position: 2px -247px, 260px -87px;
}
.payment-details form #cc-number.valid.maestro {
  background-position: 2px -289px, 260px -87px;
}
.payment-details form #cc-number.valid.discover {
  background-position: 2px -331px, 260px -87px;
}
.payment-details .vertical {
  overflow: hidden;
}
.payment-details .vertical li {
  float: left;
  width: 140px;
}
.payment-details .vertical li .or {
  color: #aaa;
  float: left;
  font-size: 12px;
  margin-left: -8px;
  margin-top: 32px;
}
.payment-details .vertical li:last-child {
  float: right;
  text-align: right;
}
.payment-details .vertical li:last-child input {
  float: right;
}
.payment-details .vertical input {
  width: 68px;
}
.payment-details ins {
  overflow: hidden;
  width: 100%;
}
.payment-details footer {
  background: #232323;
  padding: 56px 10px;
}
.payment-details footer .column {
  overflow: hidden;
}
.payment-details footer a {
  color: #b6b6b0;
}
.payment-details footer a:hover {
  border-bottom-color: #b6b6b0;
}
.payment-details footer h3 {
  color: #c6c6c0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 28px;
  text-transform: uppercase;
}
.payment-details footer ul {
  border-right: 1px dotted #404046;
  float: left;
  font-size: 14px;
  margin-right: 20px;
  width: 219.33333333px;
}
.payment-details footer ul:last-child {
  border-right: none;
  margin-right: 0;
}
.payment-details footer ul small {
  color: #777;
  font-size: 11px;
  font-weight: 400;
}
.payment-details footer .wrapper > p {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}
.payment-details footer .wrapper > p img {
  margin-bottom: 2px;
  vertical-align: middle;
}
@media screen and (max-width: 699px) {
  .payment-details header {
    font-size: 14px;
  }
  .payment-details header .secondary {
    display: none;
  }
  .payment-details footer ul {
    border-bottom: 1px dotted #404046;
    border-right: none;
    float: none;
    margin-bottom: 13px;
    padding-bottom: 11.2px;
    width: 100%;
  }
  .payment-details footer ul:last-child {
    border-bottom: none;
  }
}
@media screen and (min-width: 768px) {
  .payment-details .columns {
    margin: 0 auto 56px;
    width: 700px;
  }
  .payment-details .columns.three .column {
    width: auto;
  }
  .payment-details #banner .wrapper {
    padding: 84px 10px 84px;
  }
  .payment-details .intro .download span {
    margin: 0 40px;
    min-width: 0;
  }
  .payment-details .intro .download a {
    margin: 0;
    min-width: 0;
  }
  .payment-details #content {
    width: 700px;
  }
  .payment-details #manual {
    width: 700px;
  }
  .payment-details ins {
    width: 728px;
  }
}
@media screen and (min-width: 1080px) {
  .payment-details .wrapper {
    width: 940px;
  }
  .payment-details .columns {
    overflow: hidden;
    width: auto;
  }
  .payment-details .columns .column {
    float: left;
    margin-right: 80px;
  }
  .payment-details .columns .column:last-child {
    margin-right: 0;
  }
  .payment-details .columns.three .column {
    width: 260px;
  }
  .payment-details .intro {
    float: left;
    margin-bottom: 0;
    margin-top: 28px;
    padding: 0;
    text-align: left;
    width: 480px;
  }
  .payment-details .demo {
    float: right;
  }
  .payment-details #content {
    width: 940px;
  }
  .payment-details footer ul {
    border-bottom: 1px dotted #404046;
    border-right: none;
    float: none;
    margin-bottom: 13px;
    padding-bottom: 11.2px;
    width: 100%;
  }
  .payment-details footer ul:last-child {
    border-bottom: none;
  }
}
@media screen and (min-width: 1200px) {
  .payment-details .wrapper {
    width: 1060px;
  }
  .payment-details .columns.three .column {
    width: 300px;
  }
  .payment-details .intro {
    margin-top: 56px;
    width: 570px;
  }
  .payment-details #content {
    width: 1060px;
  }
}

.payment-details .vertical .row {
    margin: 0;
}

.payment-details .vertical .row div,
.payment-details .vertical .row input,
.payment-details .vertical .row div input {
    padding: 0 !important;
}

.payment-details .vertical .row div input {
    width: 99% !important;
}

.payment-details .has-error input {
  border-width: 2px;
}

.payment-details .validation.text-danger:after {
  content: 'Validation failed';
}

.payment-details .validation.text-success:after {
  content: 'Validation passed';
}

.payment-details .form-group {
    margin-bottom: 5px;
}

.navbar.navbar-inverse 
{
    z-index: 2;
    background-image: none;
    border-bottom: none;
    background-color: #222 !important;
}

.logo {
    position: absolute;
}