@model Enhabit.ViewModels.TenantViewModel

@{
    ViewBag.Title = "Tenant";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

@Styles.Render("~/Portal/Content/Tenant")

<!-- ko with: AccountTab -->
<div class="main" data-bind="visible: AccountActive">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget stacked">
                    <div class="widget-header actions">
                        <i class="fa fa-user"></i>
                        <h3>Your Account Info</h3>
                    </div> <!-- /widget-header -->
                    <div class="widget-content account">
                        <!-- Account info goes here -->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 required">
                                <label>Username: </label><input type="text" class="form-control" data-bind="value: Account.Username"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 required">
                                <label>Email: </label><input type="text" class="form-control" data-bind="value: Account.Email" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 required">
                                <label>First Name: </label><input type="text" class="form-control" data-bind="value: Account.FirstName" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 required">
                                <label>Last Name: </label><input type="text" class="form-control" data-bind="value: Account.LastName" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label>Phone Number: </label><input type="text" class="form-control" placeholder="xxx-xxx-xxxx" data-bind="value: Account.PhoneNumber" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label>New Password: </label><input type="password" class="form-control" data-bind="value: Account.NewPassword" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label>Confirm: </label><input type="password" class="form-control" data-bind="value: Account.ConfirmPassword" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <button class='btn btn-primary btn-success' data-bind="click: Account.UpdateAccount, enable: Account.UpdateAccountEnabled, text: Account.UpdateAccountText"></button>
                                <button class='btn btn-danger' data-bind="click: Account.DeleteAccount, enable: Account.DeleteAccountEnabled, text: Account.DeleteAccountText">Delete Account</button>
                            </div>
                        </div>
                    </div> <!-- /widget-content -->
                </div> <!-- /widget -->
            </div> <!-- /col-md-8 -->
            <div class="col-md-4">
                <div class="well">
                    <h4>Did You Know?</h4>
                    <p>You use your account to access everything with Enhabit, including your transactions!</p>
                    <p>You are <b>not</b> required to change your password every time you make a change to other pieces of your account here.</p>
                </div>  <!-- /well -->
            </div>  <!-- /col-md-4 -->
        </div> <!-- /row -->
    </div> <!-- /container -->
</div> <!-- /main -->
<!-- /ko -->

<!-- ko with: ListingTab -->
<div class="main" data-bind="visible: ListingsActive">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget stacked">
                    <div class="widget-header actions">
                        <h3>Registered Listing</h3>
                        <a id="create-listing-modal-button" class="btn btn-success" data-toggle="modal" href="#createListingModal" style="margin-bottom: 5px;" data-bind="visible: Listings().length == 0"><i style="margin-left: 0; margin-right: 5px;" class="fa fa-plus"></i>Create New Listing</a>
                        <p id="create-listing-warning" class="pull-right" style="color: red;" data-bind="visible: ShowUpdateAccountMessage">Update your account to create a listing!</p>
                    </div> <!-- /widget-header -->
                    <div class="widget-content listings">
                        <label class="listings-message" data-bind="visible: Listings().length > 0" style="display: none;">Click the listing below to update and see more details</label>
                        <!-- all the listings go here -->
                        <div class="panel-group accordion" id="listings-accordion" role="tablist" aria-multiselectable="true" data-bind="foreach: { data: Listings, afterRender: AfterListingRender }">
                            <div class='panel panel-default'>
                                <div class='panel-heading' role='tab'>
                                    <h4 class='panel-title'>
                                        <a role='button' data-toggle='collapse' data-parent='#listings-accordion' data-bind="attr: { href: '#' + Id }" aria-expanded='false'>
                                            <label>Address: <span data-bind="text: Address"></span></label>
                                            <!-- ko if: Unit != null -->
                                            <label>Unit: <span data-bind="text: Unit"></span></label>
                                            <!-- /ko -->
                                            <label>Rent: <span data-bind="text: FormattedPrice"></span></label>
                                            <label>Start Date: <span data-bind="text: FormattedStart"></span></label>
                                        </a>
                                    </h4>
                                </div>
                                <div data-bind="attr: { id: Id }" class='panel-collapse collapse' role='tabpanel'>
                                    <div class='panel-body'>                                      
                                        <div class='row'>
                                            <div class='col-lg-3 col-md-3 col-sm-3'>
                                                <label>Address</label><input type='text' class='form-control' data-bind="addressAutocomplete: Address, location: { X: XCoordinate, Y: YCoordinate }, attr: { placeholder: Address }" />
                                            </div>
                                            <!-- ko if: Unit != null -->
                                            <div class='col-lg-3 col-md-3 col-sm-3'>
                                                <label>Unit</label><input type='text' class='form-control' data-bind="value: Unit" />
                                            </div>
                                            <!-- /ko -->
                                            <div class='col-lg-3 col-md-3 col-sm-3'>
                                                <label>Rent/Month</label><input type='text' class='form-control' data-bind="autoNumeric: Price, settings: { aSign: '$ ', vMax: '999999.99', wEmpty: 'sign', lZero: 'deny' }" />
                                            </div>
                                            <div class='col-lg-3 col-md-3 col-sm-3'>
                                                <label>Start Date</label><input type='text' class='form-control' data-bind="value: Start" />
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-lg-3 col-md-3 col-sm-3'>
                                                <label>Bedrooms</label>
                                                <select class='form-control' data-bind="value: Bedrooms">
                                                    <option value="studio">Studio</option>
                                                    <option value="1" selected>1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10+</option>
                                                </select>
                                            </div>
                                            <div class='col-lg-3 col-md-3 col-sm-3'>
                                                <label>Bathrooms</label>
                                                <select class='form-control' data-bind="value: Bathrooms">
                                                    <option value="1" selected>1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10+</option>
                                                </select>
                                            </div>
                                            <div class='col-lg-3 col-md-3 col-sm-3'>
                                                <label>University</label>
                                                <select class='form-control' data-bind="options: Universities, optionsText: 'Name', optionsValue: 'UniversityId', value: University"></select>
                                            </div>
                                        </div>
                                        <div class='row' style='margin-top: 10px'>
                                            <div class='col-lg-2 col-md-2 col-sm-2'>
                                                <label>Animals</label><input class='yesno' type='checkbox'data-bind="bootstrapSwitchOn: Animals, settings: { onText: 'Yes', offText: 'No' }" data-size='mini' />
                                            </div>
                                            <div class='col-lg-2 col-md-2 col-sm-2'>
                                                <label>Laundry</label><input class='yesno' type='checkbox' data-bind="bootstrapSwitchOn: Laundry, settings: { onText: 'Yes', offText: 'No' }" data-size='mini' />
                                            </div>
                                            <div class='col-lg-2 col-md-2 col-sm-2'>
                                                <label>Parking</label><input  class='yesno' type='checkbox' data-bind="bootstrapSwitchOn: Parking, settings: { onText: 'Yes', offText: 'No' }" data-size='mini' />
                                            </div>
                                            <div class='col-lg-2 col-md-2 col-sm-2'>
                                                <label>AC</label><input class='yesno' type='checkbox' data-bind="bootstrapSwitchOn: AirConditioning, settings: { onText: 'Yes', offText: 'No' }" data-size='mini' />
                                            </div>
                                        </div>
                                        <div class='row' style='margin-top: 10px'>
                                            <div class='col-lg-3 col-md-3 col-sm-3'>
                                                <label>Is Rented</label><input class='yesno' type='checkbox' data-bind="bootstrapSwitchOn: IsRented, settings: { onText: 'Yes', offText: 'No' }" data-size='mini' />
                                            </div>
                                            <div class='col-lg-3 col-md-3 col-sm-3'>
                                                <label>Lease Type</label><input class='leasType' type='checkbox' data-size='mini' data-bind="bootstrapSwitchOn: LeaseTypes, settings: { onText: 'Rental', offText: 'Sublet' }" />
                                            </div>
                                            <div class='col-lg-3 col-md-3 col-sm-3'>
                                                <label>Building Type</label><input class='buildingType' type='checkbox' data-size='mini' data-bind="bootstrapSwitchOn: BuildingTypes, settings: { onText: 'Apartment', offText: 'House' }" />    
                                            </div>
                                        </div>
                                        <div class='row' style='margin-top: 10px'>
                                            <div class='col-lg-3 col-md-3 col-sm-3'>
                                                <label>Listing Active</label><input class='yesno activecheckbox' type='checkbox' data-bind="bootstrapSwitchOn: IsActive, settings: { onText: 'Yes', offText: 'No' }, bootstrapSwitchDisabled: (Images().length == 0 || IsPastThreshold())" />
                                            </div>
                                            <div class='col-lg-6 col-md-6 col-sm-6'>
                                            <label style='color: red' class='activemsg' data-bind="visible: Images().length == 0">To Activate This Listing You Must Include Images!</label>
                                            <label style='color: red' class='activemsg' data-bind="visible: IsPastThreshold()">To Activate This Listing, Please Choose an Address Within <span data-bind="text: $parent.Threshold"></span> miles of this University!</label>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-lg-6 col-md-6 col-sm-6'>
                                                <label>Landlord</label>
                                                <select class='form-control' data-bind="options: Landlords, optionsText: 'Username', optionsValue: 'UserId', value: Landlord"></select>                                                
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-lg-6 col-md-6 col-sm-6'>
                                                <label>Info</label><textarea rows='4' cols='50' class='form-control' data-bind="textInput: Notes"></textarea>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-lg-6 col-md-6 col-sm-6'>
                                                <label>Images (Will Upload Upon Submit)</label>
                                                <form action="/Image/Save" method="post" enctype="multipart/form-data" data-pic-id="create" class="form-control dropzone" data-bind="style: { 'min-height': DropZoneFormHeight }"></form>                                                
                                            </div>
                                        </div>
                                        <div class='row' style='margin-top: 10px;'>
                                            <div class='col-lg-6 col-md-6 col-sm-6'>
                                                <button class='btn btn-primary btn-success' data-bind="click: UpdateListing, enable: UpdateListingButtonEnabled, text: UpdateListingButtonText">Update</button>
                                                <button class='btn btn-danger' data-bind="click: DeleteListing, enable: DeleteListingButtonEnabled, text: DeleteListingButtonText">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /widget-content -->
                </div> <!-- /widget -->
            </div> <!-- /col-md-12 -->
        </div> <!-- /row -->
    </div> <!-- /container -->
</div> <!-- /main -->
<!-- /ko -->

<!-- ko with: PaymentTab -->
<div class="main" data-bind="visible: PaymentsActive">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget stacked">
                    <div class="widget-header">
                        <h3>Payment Status</h3>
                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="row" id="payment" style="margin: 0;">
                            <div class='panel panel-default'>
                                <div>
                                    <div class='panel-body'>
                                        <div class='row'>            
                                            <div class='col-lg-3 col-md-3 col-sm-3'>
                                                <label>Address</label><p data-bind="text: Address"></p>
                                            </div>
                                            <div class='col-lg-3 col-md-3 col-sm-3'>
                                                <!-- ko if: Unit != null -->
                                                <label>Unit</label><p data-bind="text: Unit"></p>
                                                <!-- /ko -->
                                            </div>
                                            <div class='col-lg-3 col-md-3 col-sm-3'>
                                                <label>Rent Due</label><p class='rent' data-bind="text: FormattedRent"></p>
                                            </div>
                                            <div class='col-lg-3 col-md-3 col-sm-3'>
                                                <label>Landlord Email</label><p class='landlordEmail' data-bind="text: LandlordEmail"></p>
                                            </div>
                                        </div>
                                        <div class='row' style='margin-top: 10px;'>
                                            <div class='col-lg-6 col-md-6 col-sm-6'>
                                                <div class='row'>
                                                    <div class='col-lg-7 col-md-7 col-sm-7'>
                                                        <label>Optional Payment Note:</label>
                                                        <input type='text' class='form-control' style='margin-bottom: 15px;' id='paymentNote' name='paymentNote' data-bind="value: PaymentNote, attr: { placeholder: NextMonth }" maxlength='100'>
                                                    </div>
                                                    <div class='col-lg-3 col-md-3 col-sm-3' style='margin-top: 25px'>
                                                        <span id='charactersLeft' data-bind="text: CharactersLeft"></span> characters left
                                                    </div>
                                                </div>
                                                <button class='btn btn-primary btn-success' id='GetPaymentKey'><i class='fa fa-cc-paypal' style='margin-right: 5px'></i>Pay Rent</button>
                                                <form action='https://www.paypal.com/webapps/adaptivepayment/flow/pay' target='PPDGFrame' class='standard'>
                                                    <button class='hidden' id='submitBtn'></button>
                                                    <input id='type' type='hidden' name='expType' value='light'><input id='paykey' type='hidden' name='paykey' data-bind="value: PayKey">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="paymentHistory" style="margin: 0;">
                            <div class="panel-group accordion" id="payment-accordion" role="tablist" aria-multiselectable="true" data-bind="foreach: PastPayments">
                                <div class='panel panel-default'>
                                    <div class='panel-heading' role='tab'>
                                        <h4 class='panel-title'>
                                            <a role='button' data-toggle='collapse' data-parent='#payment-accordion' data-bind="attr: { href: '#' + PaymentId }" aria-expanded='false'>
                                                <label>Paid Rent: <span data-bind="text: FormattedRent"></span></label>
                                                <label>Month: <span data-bind="text: Month"></span></label>
                                            </a>
                                        </h4>
                                    </div>
                                    <div data-bind="attr: { id: PaymentId }" class='panel-collapse collapse' role='tabpanel'>
                                        <div class='panel-body'>
                                            <div class='row'>
                                                <div class='col-lg-4 col-md-4 col-sm-4'>
                                                    <label>Rent</label><p class='rent' data-bind="text: FormattedRent"></p>
                                                </div>
                                                <div class='col-lg-4 col-md-4 col-sm-4'>
                                                    <label>Month</label><p class='address' data-bind="text: Month"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /widget-content -->
                </div> <!-- /widget -->
            </div> <!-- /col-md-12 -->
        </div> <!-- /row -->
    </div> <!-- /container -->
</div> <!-- /main -->
<!-- /ko -->

<div id="createListingModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Create New Listing</h4>
            </div>
            <div class="modal-body">
                <!-- Put all the fields to create a listing here -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 required">
                        <div style="font-weight: 700;">Address</div><input type='text' class='form-control' autocomplete="false" data-bind="addressAutocomplete: CreateListing.Address, location: { X: CreateListing.XCoordinate, Y: CreateListing.YCoordinate }" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div style="font-weight: 700;">Unit Number</div><input type='text' class='form-control' data-bind="value: CreateListing.Unit" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 required">
                        <label>Rent/Month</label><input type='text' class='form-control' data-bind="autoNumeric: CreateListing.Rent, settings: { aSign: '$ ', vMax: '999999.99', wEmpty: 'sign', lZero: 'deny' }" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 required">
                        <label>Start Date</label><input type='text' class='form-control' data-bind="value: CreateListing.StartDate" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Bedrooms</label>
                        <select id="bedrooms-filter" class="form-control" data-bind="value: CreateListing.Bedrooms">
                            <option value="studio">Studio</option>
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10+</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Bathrooms</label>
                        <select id="bathrooms-filter" class="form-control" data-bind="value: CreateListing.Bathrooms">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10+</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="modal-switch animals-content">
                            <label>Animals</label><input type='checkbox' data-size='mini' data-bind="bootstrapSwitchOn: CreateListing.Animals, settings: { onText: 'Yes', offText: 'No' }" />
                        </div>
                        <div class="modal-switch laundry-content">
                            <label>In-Unit Laundry</label><input type='checkbox' data-size='mini' data-bind="bootstrapSwitchOn: CreateListing.Laundry, settings: { onText: 'Yes', offText: 'No' }" />
                        </div>
                        <div class="modal-switch parking-content">
                            <label>Parking</label><input type='checkbox' data-size='mini' data-bind="bootstrapSwitchOn: CreateListing.Parking, settings: { onText: 'Yes', offText: 'No' }" />
                        </div>
                        <div class="modal-switch airConditioning-content">
                            <label>Air Conditioning</label><input type='checkbox' data-size='mini' data-bind="bootstrapSwitchOn: CreateListing.AirConditioning, settings: { onText: 'Yes', offText: 'No' }" />
                        </div>
                        <div class="modal-switch type-content">
                            <label>Lease Type</label><input type='checkbox' data-size='mini' data-bind="bootstrapSwitchOn: CreateListing.LeaseTypes, settings: { onText: 'Rental', offText: 'Sublet' }" />
                        </div>
                        <div class="modal-switch type-content">
                            <label>Building Type</label><input type='checkbox' data-size='mini' data-bind="bootstrapSwitchOn: CreateListing.BuildingTypes, settings: { onText: 'Apartment', offText: 'House' }" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 ui-widget">
                        <label>Landlord</label>
                        <select id="landlords-filter" class="form-control" data-bind="options: Landlords, optionsText: 'Username', optionsValue: 'UserId', value: CreateListing.Landlord"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 ui-widget">
                        <label>University</label>
                        <select id="universities-filter" class="form-control" data-bind="options: Universities, optionsText: 'Name', optionsValue: 'UniversityId', value: CreateListing.University"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Info</label><textarea rows='4' cols='50' class='form-control' data-bind="value: CreateListing.Notes"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Images (Will Upload Upon Submit)</label>
                        <form action="/Image/Save" method="post" enctype="multipart/form-data" data-pic-id="create" class="form-control dropzone" data-bind="style: { 'min-height': CreateListing.DropZoneFormHeight }"></form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button id="create-listing-button" type="button" class="btn btn-success" data-bind="click: CreateListing.PendingPortalListingCreation, text: CreateListing.CreateListingButtonText, enable: CreateListing.CreateListingButtonEnabled">Create Listing</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("PortalViewModel", @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)))
