@model Enhabit.ViewModels.PortalViewModel

@{
    ViewBag.Title = "Tenant";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <a href="javascript:;" class="subnav-toggle" data-toggle="collapse" data-target=".subnav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </a>
            <div class="collapse subnav-collapse">
                <ul class="mainnav">
                    <li>
                        <a href="../account">
                            <i class="fa fa-book"></i>
                            <span>Account</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="./">
                            <i class="fa fa-th-list"></i>
                            <span>Listing</span>
                        </a>
                    </li>
                    <?php
                    if ($_SESSION["hasRental"] == true)
                    {
                    echo "
                    <li>
                        " .
                        "  <a href='../payments'>
                            " .
                            "<i class='fa fa-usd'></i>" .
                            "<span>Payments</span>" .
                            "
                        </a>" .
                        "
                    </li>";
                    }
                    ?>
                </ul>
            </div> <!-- /.subnav-collapse -->
        </div> <!-- /container -->
    </div> <!-- /subnavbar-inner -->
</div> <!-- /subnavbar -->

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget stacked">
                    <div class="widget-header actions">
                        <h3>Registered Listing</h3>
                        <a id="create-listing-modal-button" class="btn btn-success" data-toggle="modal" href="#createListingModal" style="margin-bottom: 5px; display: none;"><i style="margin-left: 0; margin-right: 5px;" class="fa fa-plus"></i>Create New Listing</a>
                        <p id="create-listing-warning" class="pull-right" style="color: red; display: none;">Update your account to create a listing!</p>
                    </div> <!-- /widget-header -->
                    <div class="widget-content listings">
                        <label class="listings-message" style="display: none;">Click the listing below to update and see more details</label>
                        <!-- all the listings go here -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        </div>
                    </div> <!-- /widget-content -->
                </div> <!-- /widget -->
            </div> <!-- /col-md-12 -->
        </div> <!-- /row -->
    </div> <!-- /container -->
</div> <!-- /main -->

<div class="footer">
    <div class="container">
        <div class="row">
            <div id="footer-copyright" class="col-md-6">
                &copy; Hyperion Group LLC & LbKStudios LLC. Designed &amp; Built by <a href="http://www.lbkstudios.net" target="_blank">LbKStudios LLC</a>
            </div>
        </div>
    </div>
</div>
<div id="createListingModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Create New Listing</h4>
            </div>
            <div class="modal-body">
                <!-- Put all the fields to create a listing here -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 required">
                        <div style="font-weight: 700;">Address</div><input type='text' class='form-control' autocomplete="false" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div style="font-weight: 700;">Unit Number</div><input type='text' class='form-control' />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 required">
                        <label>Rent/Month</label><input type='text' class='form-control' />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 required">
                        <label>Start Date</label><input type='text' class='form-control' />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Bedrooms</label>
                        <select id="bedrooms-filter" class="form-control">
                            <option value="studio">Studio</option>
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10+</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Bathrooms</label>
                        <select id="bathrooms-filter" class="form-control">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10+</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="modal-switch animals-content">
                            <label>Animals</label><input type='checkbox' data-size='mini' />
                        </div>
                        <div class="modal-switch laundry-content">
                            <label>In-Unit Laundry</label><input type='checkbox' data-size='mini' />
                        </div>
                        <div class="modal-switch parking-content">
                            <label>Parking</label><input type='checkbox' data-size='mini' />
                        </div>
                        <div class="modal-switch airConditioning-content">
                            <label>Air Conditioning</label><input type='checkbox' data-size='mini' />
                        </div>
                        <div class="modal-switch type-content">
                            <label>Lease Type</label><input type='checkbox' data-size='mini' />
                        </div>
                        <div class="modal-switch type-content">
                            <label>Building Type</label><input type='checkbox' data-size='mini' />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 ui-widget">
                        <label>Landlord</label>
                        <select id="landlords-filter" class="form-control"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 ui-widget">
                        <label>University</label>
                        <select id="universities-filter" class="form-control"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Info</label><textarea rows='4' cols='50' class='form-control'></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Images (Will Upload Upon Submit)</label>
                        <form action="/images/enhabit/upload_file.php" data-pic-id="create" class="form-control dropzone"></form>
                    </div>
                </div>
                <!-- Lat, Long, Address Hidden fields -->
                <input type='hidden' class="latitude" /><input type='hidden' class="longitude" /><input type='hidden' class="selected_address" />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button id="create-listing-button" type="button" class="btn btn-success" onclick="CreateListing()">Create Listing</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
