/* It is recommended to place all your extra/additional CSS rules here */

#map 
{ 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

#left-sidebar,
#footer 
{
	z-index: 1;
}

.username, 
.password,
.firstname,
.middleinitial,
.lastname,
.email,
.phonenumber 
{
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
