@using CloudinaryDotNet
@using CloudinaryDotNet.Actions
@model Enhabit.ViewModels.EnhabitMapViewModel

@{
    ViewBag.Title = "Enhabit - Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Enhabit/Content/Map")

<div id="map"></div>
<!-- Outer Container -->
<div id="outer-container">
    <!-- Left Sidebar -->
    <section id="blurred"></section>
    <section id="left-sidebar"></section>
    <!-- Menu Icon for smaller viewports -->
    <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>
    <div id="Filters">
        <div id="price-label" class="row">
            <span>Price Range</span>
            <span data-bind="text: SearchBar.AmountText"></span>
        </div>
        <div id="price-slider" class="row">
            <div id="PriceRangeSlider" class="slider-secondary" style="margin-top: 1em;"></div>
        </div>
        <div id="datepicker-row" class="row">
            <div class="col-lg-8 col-md-8 col-sm-8" style="float: none; margin: 0 auto;">
                <label>Available From</label>
                <input id="datepicker-inline" type="button" class="form-control" value="MM/DD/YYYY" data-bind="value: SearchBar.StartDate" />
            </div>
        </div>
        <div class="double-item-content">
            <div class="item-content">
                <label>Bedrooms</label>
                <div class="styled-select">
                    <select id="Bedrooms-filter" class="form-control" data-bind="value: SearchBar.Bedrooms">
                        <option value="studio">Studio</option>
                        <option value="0" selected>0+</option> <!-- just don't include in ruby filter -->
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3+</option>
                    </select>
                </div>
            </div>
            <div class="item-content">
                <label>Bathrooms</label>
                <div class="styled-select">
                    <select id="Bathrooms-filter" class="form-control" data-bind="value: SearchBar.Bathrooms">
                        <option value="0" selected>0+</option>
                        <option value="1">1+</option>
                        <option value="2">2+</option>
                        <option value="3">3+</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="double-item-content">
            <div class="item-content parking-content">
                <label>Parking</label>
                <div class="styled-select">
                    <select id="Parking-filter" class="form-control" data-bind="value: SearchBar.Parking">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                        <option value="both" selected>Yes &amp; No</option>
                    </select>
                </div>
            </div>
            <div class="item-content animals-content">
                <label>Animals</label>
                <div class="styled-select">
                    <select id="Animals-filter" class="form-control" data-bind="value: SearchBar.Animals">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                        <option value="both" selected>Yes &amp; No</option> <!-- just don't include in ruby filter -->
                    </select>
                </div>
            </div>
        </div>
        <div>
            <!--<div class="item-content list-view-button">
                <input type="button" class="form-control" onclick="OpenListingsList();" value="List View" />
            </div>-->
        </div>
        <ul id="action-menu">
            <li class="menu-item scroll">
                <a href="#" class="btn btn-outline-inverse btn-sm" type="button" data-bind="click: ToggleExtrasView, text: ExtraFiltersBtnText"></a>
            </li>
            <li id="search-function" class="menu-item scroll" onclick="SearchForListings();">
                <a id="search" class="btn btn-outline-inverse btn-sm">Search</a>
            </li>
        </ul>
    </div>
    <!-- #main-menu -->
    <!-- Footer -->
    <section id="footer">
        <!-- copyright text -->
        <div class="footer-text-line">&copy; Enhabit LLC. <br>Designed &amp; Built by <a href="http://www.lbkstudios.net" target="_blank">LbKStudios LLC</a></div>
    </section>
    <!-- end: Footer -->
    <div id="listings_list">
        <div id="listings">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="CloseListingsList();">×</button>
        </div>
    </div>
    <div id="extras_view">
        <div id="extras">
            <div class="double-item-content">
                <div class="item-content laundry-content">
                    <label>In-Unit Laundry</label>
                    <div class="styled-select">
                        <select id="Laundry-filter" class="form-control" data-bind="value: SearchBar.Laundry">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                            <option value="both" selected>Yes &amp; No</option> <!-- just don't include in ruby filter -->
                        </select>
                    </div>
                </div>
                <div class="item-content AirConditioning-content">
                    <label>AC Unit</label>
                    <div class="styled-select">
                        <select id="AirConditioning-filter" class="form-control" data-bind="value: SearchBar.AirConditioning">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                            <option value="both" selected>Yes &amp; No</option> <!-- just don't include in ruby filter -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="item-content type-content">
                <label>Rental or Sublet</label>
                <div class="styled-select">
                    <select id="LeaseType-filter" class="form-control" data-bind="value: SearchBar.LeaseType">
                        <option value="both">Both</option>
                        <option value="rental">Rental</option>
                        <option value="sublet">Sublet</option>
                    </select>
                </div>
            </div>
            <div class="item-content type-content">
                <label>Apartment or House</label>
                <div class="styled-select">
                    <select id="BuildingType-filter" class="form-control" data-bind="value: SearchBar.BuildingType">
                        <option value="both">Both</option>
                        <option value="apartment">Apartment</option>
                        <option value="house">House</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- #left-sidebar -->
    <!-- Login -->
    <div class="content-to-populate-in-modal" id="modal-content-login">
        <h1 style="margin-top: 0;">Log In</h1>
        <label>Username: </label><input type="text" class="form-control Username" />
        <label>Password: </label><input type="password" class="form-control Password" />
        <input type="button" class="btn btn-outline-inverse btn-lg login-btn" value="Log In" onclick="LoginUser(true);" style="margin-top: 15px;" />
        <p style="text-align: center;">Or</p>
        <button type="button" class="btn btn-outline-inverse btn-lg login-btn-facebook" onclick="LoginFacebook();" style="margin-top: 15px"><span class="facebook-icon-for-button"></span><span class="facebook-login-text">Log In using Facebook</span></button>
        <p class="login-error alert alert-danger" style="display: none;"></p>
        <div></div>
        <label style="margin: 15px 15px 0 0;">Not a Member Yet?   </label><a style="cursor: pointer;" onclick="LoadModal(event, 'modal-content-register', 'CreateAccount', 'Create an Account');">Create an Account</a>
    </div>
    <!-- #modal-content-login -->
    <!-- Register -->
    <div class="content-to-populate-in-modal" id="modal-content-register">
        <h1>Create New Account</h1>
        <label>Username: </label><input type="text" class="form-control Username" />
        <label>Password: </label><input type="password" class="form-control Password" />
        <label>Confirm Password: </label><input type="password" class="form-control Confirm" />
        <label>First Name: </label><input type="text" class="form-control FirstName" />
        <label>Last Name: </label><input type="text" class="form-control LastName" />
        <label>Email: </label><input type="text" class="form-control Account Email" />
        <label>Phone Number: </label><input type="text" class="form-control PhoneNumber" placeholder="xxx-xxx-xxxx" />
        <input type="button" class="btn btn-outline-inverse btn-lg CreateAccount-btn" onclick="CreateAccount()" value="Create Account" style="margin-top: 15px;" />
        <p class="CreateAccount-error alert alert-danger" style="display: none;"></p>
    </div>
    <!-- #modal-content-register -->
    <!-- Register -->
    <div class="content-to-populate-in-modal" id="modal-content-register-success">
        <h3>Account Created!</h3>
        <p>Welcome to Enhabit! You can set up our service with your credit or debit card to pay your monthly bills, and even list your apartment when you plan on moving out!</p>
    </div>
    <!-- #modal-content-register-success -->
    <!-- Speedy Payment -->
    <div class="content-to-populate-in-modal" id="modal-content-payment">
        <h1>Pay Rent Now</h1>
        <label class="required">First Name: </label><input type="text" class="form-control Payment FirstName" />
        <label class="required">Last Name: </label><input type="text" class="form-control Payment LastName" />
        <label class="required">Address: </label><input type="text" class="form-control Payment Address" autocomplete="false" />
        <label>Unit: </label><input type="text" class="form-control Payment Unit" placeholder="Ex: 2E" />
        <label class="required">Rent Amount: </label>
        <div class="input-group AmountWrapper">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control Payment Rent" placeholder="Ex: 500" />
        </div>
        <label>Payment Memo: </label><input type="text" class="form-control Memo" />
        <label>Landlord: </label><select class="form-control LandlordEmail"></select>
        <p class="small">If your landlord is not available, please contact Enhabit.</p>
        <p class="small">Friendly Reminder: Use your Bank Account to avoid PayPal processing fees!</p>
        <input id="GetPaymentKey" type="button" class="btn btn-outline-inverse btn-lg MakePayment-btn" onclick="GetPayKey()" value="Make Payment" style="margin-top: 15px;" />
        <form action='https://www.paypal.com/webapps/adaptivepayment/flow/pay' target='PPDGFrame' class='standard'>
            <button class='hidden' id='submitBtn'></button>
            <input id='type' type='hidden' name='expType' value='light'><input id='paykey' type='hidden' name='paykey' value=''>
        </form>
        <p class="MakePayment-error alert alert-danger" style="display: none;"></p>
    </div>
    <!-- #modal-content-payment -->
    <!-- Email -->
    <div class="content-to-populate-in-modal" id="modal-content-email">
        <!-- placeholder for details view -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="row row-centered" style="margin-top: 10px;">
            <div class="col-sm-5 col-md-5 col-lg-5" style="margin: 0 auto; float: none;">
                <label>Message</label>
                <textarea rows='10' class="form-control email-message">I would like to meet up with you to view this listing!</textarea>
            </div>
        </div>
        <div class="row row-centered" style="margin-top: 10px;">
            <div class="col-sm-5 col-md-5 col-lg-5" style="margin: 0 auto; float: none;">
                <label>Your Email Address</label>
                <input type="text" class="form-control email-address" />
            </div>
        </div>
        <div class="row row-centered" style="margin-top: 10px;">
            <div class="col-sm-5 col-md-5 col-lg-5" style="margin: 0 auto; float: none;">
                <label>Phone Number (optional)</label>
                <input type="text" class="form-control email-phone-number" />
            </div>
        </div>
        <div class="row row-centered" style="margin-top: 10px;">
            <div class="col-sm-5 col-md-5 col-lg-5" style="margin: 0 auto; float: none;">
                <input type="button" class="btn btn-outline-inverse btn-sm email-btn" value="Send Email" style="width: 100px; margin-top: 10px;" />
            </div>
        </div>
        <p class="SendEmail-error alert alert-danger" style="display: none;"></p>
        <!-- end application view-->
    </div>
    <!-- End Email -->
    <!-- Pop Up Listing Modal -->
    <div class="content-to-populate-in-modal" id="modal-content-popup-listing">
        <div class="item-content listing">
            <div class="popup">
                <h3></h3> <!-- Address -->
                <div class="slideshow-lander">
                    <!-- Slideshow content -->
                </div>
            </div>
            <div class='information'>
                <p class='popup-bedrooms'></p>
                <p class='popup-bathrooms'></p>
                <p class='popup-price'></p>
                <p class='popup-leaseType'></p>
                <p class='popup-buildingType'></p>
                <p class='popup-animals'></p>
                <p class='popup-laundry'></p>
                <p class='popup-parking'></p>
                <p class='popup-ac'></p>
                <input type="button" class="btn btn-info" onclick="" value="Contact Landlord" />
            </div>
            <input class="owl-carousel-button btn btn-primary" type="button" value="View Larger" />
        </div>
    </div>
    <!-- #modal-content-popup-listing -->
    <!-- Multi-Listing -->
    <div class="content-to-populate-in-modal" id="modal-content-popup-multilisting">

    </div>
    <!-- #modal-content-popup-multilisting -->
    <!-- Owl Carousel Popup -->
    <div class="content-to-populate-in-modal" id="modal-content-owl-carousel">

    </div>
    <!-- #modal-content-owl-carousel -->
    <!-- Power Kiosk Popup -->
    <div class="content-to-populate-in-modal" id="modal-content-power-kiosk">
        <div class="inner cover">
            <p class="small">We're going help you save money on your Supplier while keeping your Provider.  When you sign up for electricity or gas you are always given a provider and supplier but they are often with the same company!  Change to a most cost effective Supplier today!</p>
            <div class="row row-centered">
                <div class="serviceTypesContainer col-md-6 col-sm-6 col-lg-6 col-centered">
                    <img class="loader1" src="~/Content/ThirdParty/Images/AjaxLoader.gif" style="display: none;">
                    <ul class="serviceTypes nav nav-pills nav-justified"></ul>
                </div>
            </div>
            <p class="lead">Start By Entering Your Zip Code!</p>
            <div class="row row-centered">
                <div class="zipContainer col-md-4 col-centered" style="float: none; margin: 0 auto;">
                    <input class="zipCode form-control input-lg text-center" type="text" placeholder="#####" />
                </div>
            </div>
            <div class="row row-centered">
                <div class="utilityAlert alert alert-danger" style="display: none;"></div>
                <div class="utilitiesContainer col-centered dropdown" style="display: none; float: none; margin: 10px auto;">
                    <label for="utilitiesDropdown">Select Your Current Provider</label>
                    <div class="styled-select" style="width: 230px !important;">
                        <select role="menu" class="utilities form-control text-capitalize" style="color: white; border: 1px solid white !important; border-radius: 10px !important;"></select>
                    </div>
                </div>
            </div>
            <div class="row row-centered">
                <div class="zoneAlert alert alert-danger" style="display: none;"></div>
                <div class="zonesContainer col-centered dropdown" style="display: none; float: none; margin: 10px auto;">
                    <label for="zonesDropdown">Select Your Zone</label>
                    <p class="small" style="margin-top: 0">If you don't know, just use the first one.</p>
                    <div class="styled-select" style="width: 230px !important;">
                        <select role="menu" class="zones form-control text-capitalize" style="color: white; border: 1px solid white !important; border-radius: 10px !important;"></select>
                    </div>
                </div>
            </div>
            <div class="row row-centered">
                <div class="submitContainer col-md-4 col-centered" style="display: none; float: none; margin: 0 auto;">
                    <button type="button" class="submit btn btn-outline-inverse btn-lg" onclick="SubmitQuery();"><i class="fa fa-usd"></i> Save Money Now!</button>
                </div>
            </div>
            <form class="data-submit hidden" action="http://energy.enhabitlife.com/direct:home/remoteBegin" method="post">
                <input type="hidden" name="directAgentID" class="directAgentId" value="Enhabit">
                <input type="hidden" name="stateID" class="stateID" value="">
                <input type="hidden" name="serviceTypeID" class="serviceTypeID" value="">
                <input type="hidden" name="zipCode" class="zipCodeID" value="">
                <input type="hidden" name="utilityID" class="utilityID" value="">
                <input type="hidden" name="zone" class="zoneID" value="">
                <input type="submit" name="residential" class="getRates">
            </form>
        </div>
    </div>
    <!-- #modal-content-powerk-kiosk -->
    <!-- end: Left Sidebar -->
</div>
<!-- end: Outer Container -->
<!-- placeholder for details view -->
<div id="details-view" style="display: none;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="CloseDetailsView();">×</button>
    <!-- top section -->
    <div id="details-view-slideshow-section" class="row">

    </div>
    <div id="details-items" class="row">
        <!-- left section -->
        <div id="details-view-listing-details" class="col-lg-8 col-md-8 col-sm-8">

        </div>
        <div id="details-view-actions" class="col-lg-4 col-md-4 col-sm-4">

        </div>
        <!-- right section -->
        <!--
        <div class="col-lg-6 col-md-6 col-sm-6">

            bottom section
            <div id="details-view-map-section" class="row">

            </div>
        </div>-->
    </div>
</div>
<!-- end details view -->
<!-- Create Listing Modal -->
<div class="content-to-populate-in-modal" id="modal-content-listing">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Create New Listing</h4>
    </div>
    <div class="modal-body">
        <!-- Put all the fields to create a listing here -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div style="font-weight: 700;">Address</div><input type='text' class='form-control Address' autocomplete="false" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div style="font-weight: 700;">Unit Number</div><input type='text' class='form-control Unit' />
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div style="font-weight: 700;">Rent/Month</div><input type='text' class='form-control Rent' />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div style="font-weight: 700;">Start Date</div><input type='text' class='form-control Start' />
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div style="font-weight: 700;">Bedrooms</div>
                <select id="bedrooms-filter" class="form-control Bedrooms">
                    <option value="studio">Studio</option>
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10+</option>
                </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div style="font-weight: 700;">Bathrooms</div>
                <select id="bathrooms-filter" class="form-control Bathrooms">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10+</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="modal-switch animals-content">
                    <div style="font-weight: 700;">Animals</div><input class="Animals" type='checkbox' data-size='mini' />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="modal-switch laundry-content">
                    <div style="font-weight: 700;">In-Unit Laundry</div><input class="Laundry" type='checkbox' data-size='mini' />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="modal-switch parking-content">
                    <div style="font-weight: 700;">Parking</div><input class="Parking" type='checkbox' data-size='mini' />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="modal-switch airConditioning-content">
                    <div style="font-weight: 700;">Air Conditioning</div><input class="AirConditioning" type='checkbox' data-size='mini' />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="modal-switch type-content">
                    <div style="font-weight: 700;">Lease Type</div><input class="LeaseType" type='checkbox' data-size='mini' />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="modal-switch type-content">
                    <div style="font-weight: 700;">Building Type</div><input class="BuildingType" type='checkbox' data-size='mini' />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-12 col-md-12 col-sm-12 ui-widget">
                <div style="font-weight: 700;">Landlord</div>
                <select id="landlords-filter" class="form-control Landlord" style="font-size: 14px;"></select>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-12 col-md-12 col-sm-12 ui-widget">
                <div style="font-weight: 700;">University</div>
                <select id="universities-filter" class="form-control University" style="font-size: 14px;"></select>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <label>Info</label><textarea rows='4' cols='50' class='form-control Notes'></textarea>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <label>Images (Will Upload Upon Submit)</label>
                <form action="/Image/Save" method="post" enctype="multipart/form-data" data-pic-id="create" class="form-control dropzone"></form>
            </div>
        </div>
        <!-- Lat, Long, Address Hidden fields -->
        <input type='hidden' class="Latitude" /><input type='hidden' class="Longitude" /><input type='hidden' class="SelectedAddress" />
        <div class="row" style="margin-top: 15px;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button id="create-listing-button" type="button" style="border-radius: 10px; font-weight: bold; font-size: medium;" class="btn btn-outline-inverse btn-sm" onclick="PendingListingCreation()">Create Listing</button>
            </div>
        </div>
        <p class="create-listing-error alert alert-danger" style="display: none;"></p>
    </div>
</div>
<!-- Modal -->
<!-- DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it -->
<div class="modal fade" id="common-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 100px; border-radius: 10px;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="modal-body clearfix">
            </div>
            <!-- .modal-body -->
        </div>
        <!-- .modal-content -->
    </div>
    <!-- .modal-dialog -->
</div>
<!-- .modal -->
<!-- placeholder for facebook objects -->
<div id="fb-root" class="fb-reset"></div>

@Html.Hidden("EnhabitMapViewModel", @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)))

@Scripts.Render("~/Enhabit/Map")

<script>

    var enhabitViewModel;

    $(function () {
        InitDatePicker();

        InitHiddenSidebars();

        InitKnockoutBindings();
        
        InitBackStopEventHandler();

        InitMouseEventHandlers();

        InitSlideShowArrows();

        $(".mapbox-logo").parent().removeClass("leaflet-left").addClass("leaflet-right").addClass("mblogo");
    });

    function InitDatePicker()
    {
        $("#datepicker-inline").pikaday(
        {
            minDate: new Date(),
            setDefaultDate: new Date()
        });
    }

    function InitHiddenSidebars()
    {
        var listingsListWidth = parseFloat($("#left-sidebar").css("left")) + parseFloat($("#left-sidebar").css("width"));

        $("#listings_list").css("left", listingsListWidth);
        $("#extras_view").css("left", listingsListWidth);
    }

    function InitKnockoutBindings()
    {
        var enhabitMapData = JSON.parse($('#EnhabitMapViewModel').val());
        enhabitViewModel = ko.applyBindings(new EnhabitMapViewModel(enhabitMapData));
    }

    function InitMapboxMap()
    {
        new L.Control.Zoom({ position: 'topright' }).addTo(map);
    }

    function InitMouseEventHandlers()
    {
        // Disable map mouse features while we're in the sidebar
        $("#left-sidebar, #extras_view, #listings_list").bind('mouseover',
            function ()
            {
                enhabitViewModel.Map.dragging.disable();
                enhabitViewModel.Map.scrollWheelZoom.disable();
                enhabitViewModel.Map.doubleClickZoom.disable();
            }
        );

        // Reenable map mouse features when the mouse is outside of the sidebar
        $("#left-sidebar, #extras_view, #listings_list").bind('mouseout',
            function ()
            {
                enhabitViewModel.Map.dragging.enable();
                enhabitViewModel.Map.scrollWheelZoom.enable();
                enhabitViewModel.Map.doubleClickZoom.enable();
            }
        );
    }

    function InitSlideShowArrows()
    {
        $('body').on('click', '.slider-arrow img', function () {
            var $slideshow = $(this).closest('.slideshow');
            var $newSlide;

            if ($(this).hasClass('slider-arrow-left')) {
                $newSlide = $slideshow.find('.image.active').prev();
                if ($newSlide.index() < 2) {
                    $newSlide = $slideshow.find('.image').last();
                }
            }
            else if ($(this).hasClass('slider-arrow-right')) {
                $newSlide = $slideshow.find('.image.active').next();
                if ($newSlide.index() < 0) {
                    $newSlide = $slideshow.find('.image').first();
                }
            }

            $slideshow.find('.active').removeClass('active').hide();
            $newSlide.addClass('active').show();
            return false;
        });
    }

    Dropzone.autoDiscover = false;

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64824617-1', 'auto');
    ga('send', 'pageview');

    function InitBackStopEventHandler() {
        $(document).unbind('keydown').bind('keydown', function (event) {
            var doPrevent = false;
            if (event.keyCode === 8) {
                var d = event.srcElement || event.target;
                if ((d.tagName.toUpperCase() === 'INPUT' &&
                        (
                            d.type.toUpperCase() === 'TEXT' ||
                            d.type.toUpperCase() === 'PASSWORD' ||
                            d.type.toUpperCase() === 'FILE' ||
                            d.type.toUpperCase() === 'SEARCH' ||
                            d.type.toUpperCase() === 'EMAIL' ||
                            d.type.toUpperCase() === 'NUMBER' ||
                            d.type.toUpperCase() === 'DATE' )
                        ) ||
                        d.tagName.toUpperCase() === 'TEXTAREA') {
                    doPrevent = d.readOnly || d.disabled;
                }
                else {
                    doPrevent = true;
                }
            }

            if (doPrevent) {
                event.preventDefault();
            }
        });
    }

</script>