/* It is recommended to place all your extra/additional CSS rules here */

#map 
{ 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

#outer-container *
{
    font-size: 15px;
}

#left-sidebar,
#footer,
#mobile-menu-icon
{
    cursor: default;
	z-index: 1;
    position: relative;
}

#Filters
{
    color: white;
    padding: 0 5px 0 5px;
    display: inline-block;
}

#listings input,
.popup .information input
{
    border-radius: 0px;
}

#Filters select,
#extras_view select
{
    font-weight: bold;
}

#parking-filter,
#animals-filter,
#laundry-filter,
#airConditioning-filter
{
    padding-right: 0;
    padding-left: 5px;
}

#extras_view,
#listings_list
{
    color: white;
    cursor: default;
}

#extras,
#listings
{
    display: none;
}

#Filters .double-item-content,
#extras_view .double-item-content
{
    margin-top: 5px;
    display: inline-block;
    width: 100%;
}

#Filters .double-item-content .item-content,
#extras_view .double-item-content .item-content
{
    width: 50%;
    float: left;
}

#Filters .double-item-content .item-content label,
#extras_view .double-item-content .item-content label,
{
    width: 100%;
}

#Filters .item-content label,
#extras_view .item-content label
{
	text-align: center;
	width: 100%;
}

#Filters .item-content select,
#extras_view .item-content select
{
	margin: 0 auto;
}

#type-filter
{
    padding: 0;
}

.price-content
{
	text-align: center;
}

.date-content,
.tags-content
{
    margin-top: 5px;
}

.switch-content
{
    display: inline-block;
    width: 100%;
}

.item-content .bootstrap-switch
{
    float: left;
}

.item-content select
{
    width: 80%;
}

.type-content
{
    display: inline-block;
}

.type-content
{
    width: 100%;
}

#type-filter
{
    width: 45%;
}

.type-content .bootstrap-switch
{
    float: left;
}

#datepicker-inline
{
    color: #555;
    font-weight: bold;
    width: 55%;
    text-align: center;
    margin: 0 auto;
    border-radius: 0px;
}

.tags-content .bootstrap-tagsinput
{
    width: 100%;
    min-height: 55px;
    height: auto;
}

.bootstrap-tagsinput
{
	height: 55px;
}

.bootstrap-tagsinput input
{
    width: auto !important;
}

#left-sidebar,
#listings_list,
#extras_view
{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    
    user-select: none;
}

#listings
{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-size: 20px;
}

.listing
{
    display: block;
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

.modal-body .listing
{
    margin-top: 0px;
}

.listing .information
{
    height: 100px;
}

.listing img
{
    float: left;
    margin-right: 10px;
}

.listing p
{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
}

@media (min-width: 768px)
{
    #left-sidebar,
    #footer,
    #mobile-menu-icon
        {
        z-index: 1;
        position: fixed;
    }
}

.username, 
.password,
.firstname, 
.lastname,
.email, 
.phonenumber,
.address, 
.bedrooms,
.bathrooms, 
.rent
{
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

.animals,
.laundry
{
    width: 45px;
}

.login-btn-facebook .facebook-icon-for-button 
{
    background: url('../assets/images/theme_images/facebook-button-transparent-background.png'); 
    height: 25px; 
    width: 25px; 
    margin-right: 10px;
    top: 2px;
}

.login-btn-facebook .facebook-icon-for-button,
.login-btn-facebook .facebook-login-text
{
    display: inline-block;
    position: relative;
}

.login-btn-facebook .facebook-login-text
{
    position: relative;
    top: -3px;
}

.footer-text-line
{
    color: white;
    font-size: 1.3em;
}

.pac-container 
{
    z-index: 1041 !important;
}

.leaflet-popup .popup,
.listing .popup
{
    text-align:center;
}

.listing .slideshow,
.listing .cycle
{
    width: 50%;
}

.listing .slideshow
{
    float: left;
}

.leaflet-popup .popup .slideshow .image,
.listing .popup .slideshow .image
{ 
    display:none; 
}

.leaflet-popup .popup .slideshow .image.active,
.listing .popup .slideshow .image.active
{ 
    display:block; 
}

.leaflet-popup .popup .slideshow img,
.listing .popup .slideshow img
{
    width:100%;
}

.leaflet-popup .popup .slideshow .caption,
.listing .popup .slideshow .caption
{
    background:#eee;
    padding:10px;
}

.leaflet-popup .popup .cycle,
.listing .popup .cycle
{
    padding:10px 0 20px;
}

.leaflet-popup .popup .cycle a.prev, 
.listing .popup .cycle a.prev
{ 
    float:left; 
}

.leaflet-popup .popup .cycle a.next,
.listing .popup .cycle a.next
{ 
    float:right; 
}

.leaflet-popup-tip
{
    display: none;  /* for now I dunno what is wrong with it, so just make it disappear with this... */
}

#listings_list,
#extras_view 
{
    position: fixed;
    z-index: 1;
    width: 0px;
    overflow: hidden;
}

#listings_list
{
    height: 100%;
}

#extras_view
{
    height: 250px;
}

#extras_view
{
    background: rgba(0,0,0,0.79);
}

#listings_list
{
    background: rgba(48, 47, 45, 1.0);
}

@media (min-width: 992px)
{
    #left-sidebar .logo
    {
        padding: 14px 0 0 0;
    }
}

#left-sidebar .logo
    {
        padding: 14px 0 0 0;
    }

.slider-left,
.slider-right
{
    position: absolute;
    height: 242px;
    width: 50px;
    cursor: pointer;
}

.slider-left
{
    left: 10px;
}

.slider-right
{
    right: 10px;
}

.slider-left-arrow,
.slider-right-arrow
{
    position: relative;
    top: 30%;
}

.leftlet-popup .popup .slideshow .slider-left-arrow,
.leftlet-popup .popup .slideshow .slider-right-arrow
{
    width: 25px;
}

#footer
{
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 5px;
}

.footer-text-line,
.footer-text-line a
{
    font-size: 10px !important;
}

.footer-text-line
{
    line-height: 12px;
}

#manage_account-function,
#manage_listings-function
{
    width: 50%;
    float: left;
}

#manage_account-function a
{
    padding-left: 6px !important;
}


#manage_listings-function a
{
    padding-left: 8px !important;
}

#view_listings_list-function
{
    float: left;
    width: 100%;
}

.msgGrowl-container
{
    z-index: 1;
}

#search-section
{
    list-style: none;
    padding: 0;
    width: 100%;
}

#search-section > li.menu-item > a
{
    display: block;
    padding: 13px 10px;
    background: #5259e3;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
}

#listings .information input
{
    background: #5259e3;
}

.popup .btn
{
    background: #5259e3;
}

#search-section > li.menu-item
{
    display: block;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px)
{
    #search-section > li.menu-item > a
    {
        padding: 7px 10px;
    }
}

#search-section > li.menu-item > a:hover,
#listings .information input:hover
{
    background:#b55783;
}

#common-modal .listing .information p
{
    margin-top: 0px;
    margin-bottom: 0px;
}

#common-modal .listing
{
    margin-bottom: 15px;
}

#listings .close
{
    position: absolute;
    top: 2px;
    right: 2px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.19);
    font-size: 40px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    outline: none;
    z-index: 100;
}

#Filters input,
#Filters select,
#extras_view input,
#extras_view select,
.bootstrap-tagsinput
{
    background-color: #ddd;
    border-radius: 0px;
}

.popup h2
{
    text-shadow: none;
}

.leaflet-popup-content-wrapper
{
    border: 2px grey solid;
}