<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="LogName" value="EnhabitApplication" />
      <param name="ApplicationName" value="Enhabit.Web" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="EventLogAppender" />
    </root>
    <logger name="EventLogger">
      <level value="All" />
      <appender-ref ref="EventLogAppender" />
    </logger>
  </log4net>
</configuration>