/*------------------------------------------------------------------

[Custom Stylesheet]


Last change:	03/25/2013
Assigned to:	You

-------------------------------------------------------------------*/

textarea
{
    resize:none;
    word-wrap: normal;
}

.stats .stat
{
    width: 33%;
    text-align: center;
}

.stat-value
{
    text-align: center;
}

.pac-container
{
    width: auto !important;
}